@charset "UTF-8";

/**
 * Mirror Island - A small and efficient content delivery/distribution system (CDS).
 * Copyright (C) 2018, 2019, 2020, 2021
 * Sam and Janis Allen
 * samjanis@mirrorisland.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
/* INPROGRESS: Change multiple id-type styles into classes. */

/* BEGIN CSS Reset styles.
 * Credits: Eric Meyer https://meyerweb.com/eric/tools/css/reset/ */
* {
	box-sizing: border-box;
}

html, body, div, img {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

body {
	line-height:1;
}
/* END CSS Reset styles */

@-ms-viewport {
	width:extend-to-zoom;
	zoom:1.0;
}

@font-face {
	font-family:'RobotoRegular';
	src:url('/Roboto-Regular-webfont.woff');
}

.emoji {
	font-family:'apple color emoji', 'android emoji', 'emojisymbols', 'emojione mozilla', 'noto color emoji', 'segoe ui emoji', 'segoe ui symbol', 'twemoji mozilla';
	font-weight:400;
}

* {
	margin:0;
	padding:0;
}

body, button, input, textarea {
	text-rendering:optimizelegibility;
	font:normal 16px "RobotoRegular","Arial","Helvetica",serif;
}

#htmlmain {
	scroll-behavior:smooth;
}

body {
	background:#f0f4f7;
	color:#345;
	margin:0;
	padding:40px 0 0 0;
	overflow-y:scroll;
}

a {
	cursor:pointer; /* Forces cross-browser compatibility. */
	cursor:hand;
}

div {
	/* word-wrap:break-word; */
}

p {
	margin:1em 0;
}

#mainborderbottom {
	/* border-top:solid 1px #dee; */
	clear:both;
}

#mirrorisland-header {
	background:#fff;
	color:#000;
	display:block;
	font-size:1em;
	min-height:35px;
	border-bottom:solid 1px #dee;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:3;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
}

#mirrorisland-header a:link,
#mirrorisland-header a:visited {
	text-decoration:none;
}

#mirrorisland-header h1 {
	font-weight:bold;
	letter-spacing:1pt;
	padding:2px 8px;
	margin:0;
	text-decoration:none;
	font-size:1em;
}

#mirrorisland-header h1 a {
	background:none;
	color:inherit;
}

.mirrorisland-headerflex {
	display:flex;
	width:100%;
	align-items:center;
}

.mirrorisland-headerflexitem {
	padding:0 8px;
	flex:0 1 auto;
	display:flex;
}

.mirrorisland-headerflexitem > a {
	margin:0 8px;
	text-decoration:none;
	color:#000;
	font-weight:normal;
}

.mirrorisland-headerflexitem a,
.mirrorisland-headerflexitem a:visited {
	/* color:#000; */
}

/* Set up the search popup window. */

.searchform {
	/* display:inline; */
	width:100%;
	padding:4px 8px;
}

#searchtextspan{
	display:table;
	width:100%;
}

#searchtext {
	display:table-cell;
	width:100%;
	border-radius:3px;
	font-size:18px;
	padding:1px 4px;
	z-index:1;
	box-sizing:border-box;
	background-image:url('/img/search-ltr.png');
	background-position:right 7px center;
	background-repeat:no-repeat;
}

#searchform input#searchtext:focus + .searchpopup,
#templatesearchform input#templatesearchtext:focus + .templatesearchpopup {
	display:block;
}

.searchpopup {
	display:none;
	position:absolute;
	top:34px;
	width:620px;
	height:480px;
	background:white;
	color:black;
	border:solid 3px #666;
	z-index:3;
	/* Need a cross-browser (prefixed) version. */
	box-shadow:2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

#searchorder {
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
}

.searchpopup #searchbuttons {
	text-align:center;
	display:block;
	background:#666;
	color:black;
	padding:4px;
}

.searchpopup #searchbuttons input {
	display:none;
	margin:0;
}

.searchpopup #searchbuttons label {
	display:inline;
	background:#666;
	cursor:pointer; /* Forces cross-browser compatibility. */
	cursor:hand;
	margin:0;
	padding:4px 12px;
}

#searchhints {
	background:#ccc;
	color:#000;
	margin:2px;
	position:relative;
	display:block;
	padding:2px;
}

#searchhintsadvanced {
	position:absolute;
	right:2px;
	top:0;
	bottom:0;
	display:flex;
	align-items:center; /* Vertical align */
}

#searchhintsadvanced a, #searchhintsadvanced a:visited {
	/* color:#036; */
}

#searchlist {
	position:absolute;
	bottom:0;
	top:68px;
	overflow:auto;
	background:#fff;
	width:100%;
}

.searchicon {
	float:left;
	margin-right:4px;
	height:32px;
}

#searchlist > div {
	margin:0.5em;
	white-space:nowrap; /* Force single line. */
	-o-text-overflow:ellipsis; /* Opera */
	text-overflow:ellipsis;
}

#searchlist > div a {
	color:#009;
	display:block;
	overflow:hidden;
	-o-text-overflow:ellipsis; /* Opera */
	text-overflow:ellipsis;
}

#searchlist > div a:hover {
	background:#fec;
	color:#000;
}

.templatesearchcontainer {
	display:inline-flex;
	align-items:center;
	box-sizing:border-box;
	border:solid 1px #ccc;
	border-radius:4px;
	padding:2px 4px;
	margin:3px;
}

.templatesearchpopup {
	display:none;
	position:absolute;
	left:1em;
	right:0;
	width:auto;
	height:20em;
	background:white;
	color:black;
	border:solid 1px #ccd;
	border-radius:4px;
	padding:4px;
	z-index:2;
	/* Need a cross-browser (prefixed) version. */
	box-shadow:2px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.templatesearchsource {
	background-color:#e0e0e0;
	padding:2px 4px;
	margin:2px;
}

.templatesearchresults {
	color:#ccc;
	overflow:auto;
}

.templatesearchresult {
	white-space:nowrap;
	padding:2px 0;
}

.templatesearchresult img {
	position:absolute;
	top:100%;
	right:0;
	z-index:1;
	display:none;
}

.templatesearchresult b {
	font-weight:normal;
	color:#000;
}

.templatesearchresultlink {
	position:relative;
	display:block;
	cursor:pointer;
	cursor:hand;
	text-overflow:ellipsis;
}

.templatesearchresultlink:hover img {
	display:block;
}

.templatesearchresultlink:hover {
	color:#000;
	background-color:#ffc;
}

.popuplist {
	margin:0 0 0 12px;
	position:relative;
}

.popuplist:hover {
	background:#dfffdf;
}

.popuplist ul {
	font-size:1em;
	margin:0;
	padding:0;
}

.popuplistseparator {
	border-bottom:solid 1px #cde;
	height:1px;
	margin:4px 4px;
}

.popuplistmetercontainer {
	padding:4px 8px;
}

.popuplistmetertext {
	color:#999;
	text-align:right;
}

.popuplistmeter {
	display:block;
	width:100%;
	border:solid 1px #ccc;
	border-radius:none;
	height:12px;
	background:#fff;
}

.popuplistform {
	margin:0 4px 4px 4px;
	padding:5px 0 0 0;
	display:block;
	text-align:right;
}

.popuplist img {
	vertical-align:-2px;
}

.posteditlist img {
	vertical-align:-2px;
}

.popuplist li {
	position:relative;
	margin:0;
	padding:0 7px;
	display:block;
	background:none;
	list-style-type:none;
	margin:0;
	padding:0;
	white-space:nowrap;
}

.popuplist li a {
	display:block;
	padding:8px 12px;
}

.popuplist li a:link {
	color:#345;
}

.popuplist li a img {
	text-decoration:none;
	margin-right:4px;
}

.popuplist li a:hover {
	background:#e0e0e0;
	color:#000;
}

.popuplist > div,
.submenuli > ul {
	display:none;
	color:#345;
	background:#f8f8f8;
	/* Need a cross-browser (prefixed) version. */
	box-shadow:2px 2px 16px 2px rgba(0, 0, 0, 0.2);
	position:absolute;
	right:0;
}

.popuplistbutton {
	background:none;
	border:none;
}

.popuplist:focus-within .popuplistbutton {
	background:#d0f0d0;
}

.popuplistbutton img {
	height:1em;
	padding-left:4px;
	padding-right:4px;
}

.popuplistlabel {
	padding:2px 4px;
	cursor:default;
}

.popuplist:hover > .popuplistlabel {
	color:#000;
	background:#d0f0d0;
}

.posteditlist > div {
	position:fixed;
	left:auto;
	right:auto;
	top:auto;
	z-index:3;
	/* color:#6ff; */
}

/*
.posteditlist > img {
	position:absolute;
	top:0;
	right:0;
}
*/

/* Handle submenus. */
li.submenuli {
	display:block;
	padding:8px 12px;
	cursor:default;
}

li.submenuli:after {
	content:url('/img/popupmenuright.png');
	position:absolute;
	top:10px;
	right:4px;
}

li.submenuli:hover {
	background:#191;
	color:#fff;
}

li.submenuli > ul {
	display:none;
	position:absolute;
	top:-50%;
	left:100%;
}

li.submenuli:hover > ul {
	display:block;
	z-index:1;
}

#editorstatusbar #postoptions {
	border:solid 1px red;
	/* padding:4px; */
	margin:0;
	display:inline-block;
	height:100%;
}

#editorstatusbar #postoptions > ul {
	left:0;
	right:auto;
	width:10em;
}

#editorstatusbar #postnormal,
#editorstatusbar #posttemplate {
	display:inline;
}

#editorstatusbar #postsettings {
	float:right;
}

#userpanel {
	/* padding-right:6px; */
}

#userpanel > div {
	right:0;
}

#userpanel input.accountmanagement {
	display:block;
	color:#6ff;
	background:black;
	/* width:8em; */
	text-align:left;
	margin:0;
	border:0;
	cursor:pointer;cursor:hand; /* Cross-browser hand. */
}

.headerusermenubuttonpopupdiv {
	position:relative;
}

.headerusermenubuttonpopupdiv > button {
	white-space:nowrap;
	background:#fff;
	cursor:default;
	cursor:pointer;
	border:none;
	padding:8px 12px;
}

.headerusermenubuttonpopupdiv > div {
	display:none;
	position:absolute;
	z-index:3;
	right:0;
	background:#fff;
	color:#345;
	padding:0;
	max-width:250px;
	box-shadow:2px 2px 16px 2px rgba(0, 0, 0, 0.2);
}

.headerusermenubuttonpopupdiv:focus-within > button {
	background:#438c21;
	color:#fff;
}

.headerusermenubuttonpopupdiv:focus-within > div {
	display:block;
}

.headerusermenubuttonpopupdiv ul {
	font-size:1em;
	margin:0;
	padding:0;
}

.headerusermenubuttonpopupdiv li {
	position:relative;
	margin:0;
	padding:0 7px;
	display:block;
	background:none;
	list-style-type:none;
	margin:0;
	padding:0;
	white-space:nowrap;
}

.headerusermenubuttonpopupdiv li a {
	display:block;
	padding:8px 12px;
}

.headerusermenubuttonpopupdiv li a:hover {
	background:#e0e0e0;
	color:#000;
}
.headerusermenubuttonpopupdiv li a:link {
	color:#345;
}

.headerusermenubuttonpopupdiv li a img {
	margin-right:4px;
}

#headerlogo {
	vertical-align:bottom;
}

.headerimg {
	vertical-align:bottom;
}

.sidepanel {
	position:fixed;
	width:320px;
	z-index:2;
	top:80px;
	bottom:0;
	//right:-320px;
	//transition:0.5s;
}

.showsidepanelbutton {
	color:#139;
	background:#f0f0f0;
	transition:all 0.5s;
	position:absolute;
	right:100%;
	top:0;
	padding:8px;
	border:solid 1px #aaa;
	border-right:none;
	box-shadow:-2px 2px 2px rgba(0,0,0,0.2);
	cursor:default;
	cursor:pointer;
}

.sidepanelmain {
	display:flex;
	flex-direction:column;
	border-left:solid 1px #e0e0e0;
	background:#f0f0f0;
	color:#333;
	padding:0;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.sidepanelbuttonindicator {
	margin:4px;
}

.sidepanelbuttonindicator sup {
	background:#595;
	border-radius:4px;
	color:#fff;
	padding:0 4px;
	font-weight:bold;
	margin:0 2px;
}

.sidepanelclosebutton {
	background:none;
	color:#900;
	border:none;
	border-radius:0;
	padding:0;
	margin-right:8px;
	font-size:26px;
	line-height:16px;
	cursor:default;
	cursor:pointer;
}

.sidepaneltitlebar {
	background:#f0f0f0;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	padding:4px;
	border-top:solid 1px #aaa;
}

#sidepanelreloadbutton {
	float:left;
}

#sidepanelreloadbutton img {
	vertical-align:middle;
}

.sidepanelbuttonrow {
	padding:4px;
}

.sidepanelscroll {
	flex-grow:1;
	overflow-y:auto;
	scroll-behavior:smooth;
	box-shadow:inset 2px 2px 4px rgba(0, 0, 0, 0.2);
	margin:0 4px 8px 4px;
	padding:4px 8px;
	background:#f7f7f7;
}

#userpanelonlinestatus {
	vertical-align:0;
}

.sidepanelfullwidthbutton {
	background:#7a3 linear-gradient(to bottom, #ad7, #7a3);
	border:solid 1px #7a3;
	box-sizing:border-box;
	color:#fff;
	display:block;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	text-shadow:0 1px 3px #050;
	margin-bottom:0;
	margin-top:4px;
	padding:4px 0;
}

.sidepanelfullwidthbutton {
	width:100%;
}

.sidepanelfullwidthbutton {
	background:#7a3 linear-gradient(to bottom, #ad7, #7a3);
	cursor:pointer; /* Forces cross-browser compatibility. */
	cursor:hand;
}

.headerpopupcanceldiv {
	text-align:center;
}

.headerpopupcanceldiv a {
	font-weight:bold;
	color:#090;
}

/* Sign in form focusing animation */
#userpanel:target {
	-webkit-animation:userpanel-background-fade 1.5s ease-in-out;
	animation:userpanel-background-fade 1.5s ease-in-out;
}

@-webkit-keyframes userpanel-background-fade {
	from { background-color:#fc9; }
	to { background-color:#ded; }
}

@keyframes userpanel-background-fade {
	0% { background-color:#ded; }
	50% { background-color:#fc9; }
	100% { background-color:#ded; }
}

#editordiv {
	background:#ccc;
	border-bottom:solid 1px #555;
	padding:4px 1em;
	margin:0;
}

#editordiv > #entryeditor, #newentrydiv {
	background:white;
	padding:0.1em 1em 0.2em 1em;
	margin:0 -1em;
	position:relative;
	/* height:1.7em; */
}

#editordiv input,
#editortoolbar select,
#editorstatusbar label {
	vertical-align:middle;
	margin:0;
	padding:0;
	font-size:1em;
}

#editortoolbar input.togglebutton {
	border:solid 1px #ccc;
}

#editortoolbar input.togglebutton:hover {
	background:#eee;
	border:outset 1px #ccc;
}

#editortoolbar span.colourList {
	font-size:1em;
	position:relative;
}

#editortoolbar span.colourListLabel {
	background-color:#eee;
	padding:0.2em 0.5em;
	margin:0;
	border:inset 1px #ccc;
}

#editortoolbar .colourListPopup {
	position:absolute;
	top:100%;
	border:outset 1px #eee;
	background:#eee;
	display:none;
	left:0%;
	z-index:3;
	width:96px;
	padding:2px;
}

#editortoolbar .colourListPopup input.swatch {
	width:12px;
	height:12px;
	display:block;
	float:left;
	padding:0;
	margin:2px;
	border:solid 1px #555;
	cursor:pointer;cursor:hand; /* Cross-browser hand. */
}

/* TODO: The following 3 input/custom/popup classes are removed from
 * the index.php source file, but are kept here when the custom
 * colour input field is re-introduced to the colour selectors. */
#editortoolbar .colourListPopup input.colourListPopupInput {
	width:5em;
}

#editortoolbar .colourListPopup input.colourListPopupCustom {
	float:right;
}

#editortoolbar span.colourList:hover > .colourListPopup {
	display:block;
}

#editorstatusbar span#postbutton {
	float:right;
	vertical-align:middle;
	background-color:#126;
}

#editorstatusbar span#postButton input.button {
	padding:0 5px;
	margin:0;
	vertical-align:middle;
}

#editorstatusbar span#postButton input.button {
	background-color:inherit;
	color:#9ef;
	border:solid 0.2em white;
	font-weight:bold;
}

#editorstatusbar span#postButton input.button:hover {
	color:#ff9;
	background-color:#13c;
	border-color:#ff0;
}

#editordiv textarea#store {
	display:none;
	background:white;
	color:inherit;
	border:none;
	padding:0.5em 1em;
	margin:4px -1em;
	width:100%;
}

#editorstatusbar #entrystatusbarhidden {
	display:none;
}

span#newentryedittemplate {
	position:relative;
}

span#newentryedittemplate ul {
	display:none;
	position:absolute;
	right:0;
	top:100%;
	background:silver;
	z-index:2;
	margin:0;
	padding:0.5em;
	list-style-type:none;
}

span#newentryedittemplate:hover > ul {
	display:block;
}

span#newentryedittemplate ul li {
	list-style-type:none;
	margin:0;
	padding:0.5em;
}

span#newentryedittemplate ul li:hover {
	color:black;
	background:white;
}

h3 { margin-bottom:0; padding-bottom:0; }
h1 a, h2 a { text-decoration:none; }

.mainpage {
	margin:0 auto;
	max-width:72em;
	padding:0 48px;
}

.mainpage > h2 {
	margin-top:0;
	font-size:13pt;
	font-weight:bold;
}

#comment {
	background:#ecedee;
	border:solid 1px #abc;
	color:#456;
	font-size:10pt;
	margin:2em 1em;
	padding:0.5em;
	width:40em;
}

#comment p {
	margin:0.5em;
}

.listing {
	border-bottom:dashed 1px #789; margin-bottom:2em;
}

.subtext {
	background:inherit; color:#393; margin-top:0;
}

.warning {
	background:#fcc;
	color:#800;
	border-top:dashed 1px #600;
	border-bottom:dashed 1px #600;
	padding:3pt;
}

.information {
	background:#cfc;
	color:#080;
	border-top:solid 1px #8c8;
	border-bottom:solid 1px #8c8;
	padding:3pt;
}

#footer {
	color:#79a;
	padding:10px 20px;
	text-align:center;
	margin:0 0 20px 0;
}

#footer div {
	margin:10px;
}

#footer a {
	background:none;
	color:#57f;
	text-decoration:none;
	margin:auto 4px;
	white-space:nowrap;
}

#footer a:hover {
	text-decoration:underline;
}

.errorlist {
	background:#fee;
	color:#c00;
	border-bottom:dashed 1px #c66;
	border-top:dashed 1px #c66;
	margin:1em 0;
	padding:1em;
}

.infolist {
	background:#efe;
	color:#050;
	border-bottom:dashed 1px #6c6;
	border-top:dashed 1px #6c6;
	margin:1em 0;
	padding:1em;
}

.errorlist ul, .infolist ul {
	margin:0.5em 0 0 2em;
	padding:0;
}

.errorlist ul li, .infolist ul li {
	margin:0.5em 0;
}

.formfield {
	border:none; /* solid 1px #def; */
	margin:0; /* 12px 220px 12px 0; */
	padding:0; /* 9pt 1em 9pt; */
	padding-bottom:1em;
	position:relative;
	width:100%;
}

.formfield .formdiv {
	margin-top:1em;
	padding-left:200px;
}

.formfield .formdiv > label {
	float:left;
	text-align:right;
	width:188px;
	margin-left:-200px;
	vertical-align:top;
	margin-top:3pt;
}

.formbuttonfield label {
	margin-left:14px;
}

.formfield .formdiv input[type='text'],
.formfield .formdiv input[type='password'],
.formbuttonfield input[type='password'] {
	width:100%;
	max-width:360px;
	padding:4px 8px;
}

.formfield .formerror label {
	font-weight:bold;
	color:#c00;
	background:inherit;
}

.formfield .formerror .forminput input {
	color:#800;
	background:#fee;
	border:solid 1px #d88;
}

.formbuttonfield input {
	margin-left:1em;
}

#saveprofileinformationsuggestions,
#saveprofilesettingssuggestions {
	display:inline;
}

.debugpostborderclass,
.debugreplyborderclass {
	border:solid 1px #dee;
	border-radius:5px;
	background:#fff;
	padding:2px;
}

.debugpostborderclass {
	margin:8px 0;
}

.debugreplyborderclass {
	margin-bottom:8px;
	/* width:100%; */
}

.titlepost,
.postbordershadow,
.debugreplyborderclass {
	box-shadow:1px 1px 4px 1px rgba(0, 0, 0, 0.1);
	/*
	margin-left:48px;
	margin-right:48px;
	*/
}

.debugpostclass {
	position:relative;
}

.newpostblock {
	box-sizing:border-box;
	padding:6px 4px;
}

.postheader {
	z-index:1;
	/* background:#fff; */
	margin:0 2px;
}

.postheadersticky {
	position:sticky;
	top:0;
}

.postcredits,
.postmembers,
.postdescription {
	margin:2px 0;
	position:relative;
}

.postcreditsflex {
	display:flex;
}

.postcreditsflex > :first-child {
	flex-grow:1;
	padding-right:8px;
}

.postmembersbutton {
	position:absolute;
	top:0;
	right:0;
}

.debugpostclass h2 {
	margin:0;
	padding:4px;
	font-weight:normal;
	font-size:16px;
	border-bottom:solid 1px #cde;
	color:#69a;
}

.debugpostclass .postcredits {
	background:inherit;
	color:#396;
	/* margin-bottom:5px; */
	/* background:#ffe; */
}

.postcreditspermissions > img {
	height:1em;
	vertical-align:baseline;
}

.postcreditsmessageinfo {
	border-radius:4px;
	padding:0 2px;
}

.postcredits a,
.popuplist a {
	text-decoration:none;
	white-space:nowrap;
}

.pagepost {
	border:solid 1px black;
	background:#fff;
	color:inherit;
	margin:0 230px 0 8px;
	padding:3px;
}

.raisedwhitediv {
	background:#fff;
	padding:1em;
	margin:1em auto;
	max-width:30em;
	border-radius:4px;
	box-shadow:1px 1px 7px #e0e0e0;
}

.smalllink {
	text-decoration:none;
	font-size:14px;
	font-weight:normal;
	color:#57f;
}

.buttonrow {
	width:fit-content;
	margin:1em auto 0 auto;
	border-radius:4px;
	background:#ccc;
	padding:1px;
}

.buttonrowbutton {
	border-left:solid 1px #fff;
	border-top:solid 1px #fff;
	border-right:solid 1px #888;
	border-bottom:solid 1px #888;
	padding:4px 16px;
	color:#444;
	background:#ccc;
	box-shadow:inset 10px 10px 20px #eee;
	font-weight:bold;
	font-size:1em;
}

.buttonrow button:first-child {
	border-radius:4px 0 0 4px;
}

.buttonrow button:last-child {
	border-radius:0 4px 4px 0;
}

.buttonrowpressed {
	border-left:solid 1px #888;
	border-top:solid 1px #888;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	color:#333;
	background:#ccc;
	box-shadow:inset 3px 3px 9px rgba(0, 0, 0, 0.2);
}

.buttonrow button:hover:not(.buttonrowpressed) {
	color:#555;
	background:#eee;
	cursor:pointer;
}

.signinoruplabel {
	display:block;
	font-weight:bold;
	font-size:1em;
	color:#777;
}

.signinorupform {
	/* max-height:0; */
	transition:all 0.75s; ease-in-out;
	/* transition-timing-function:cubic-bezier(0.25, 0.25, 0.4, 0.8); */
	transition-timing-function:cubic-bezier(0.28, 0.0, 0.2, 0.9);
	overflow:hidden;
	padding:0 2.0em;
}

.signinoruperror {
	color:#e55;
}

.signinorupformdiv {
	margin-top:1em;
}

.signinorupradio {
	display:none;
}

.signinorupradio:checked ~ .signinorupform {
	max-height:30em;
	overflow:unset;
}

.signinorupradio ~ .signinoruplabel:hover:before,
.signinorupradio:checked ~ .signinoruplabel:before {
	background:#cec;
}

.signinorupradio:checked ~ .signinoruplabel,
.signinorupradio:checked ~ .signinoruplabel:hover {
	color:#090;
}

.signinorupradio:checked ~ .signinoruplabel:before,
.signinorupradio:checked ~ .signinoruplabel:hover:before {
	background:#3a6 url('/radiocheck.png') 50% 50% no-repeat;
}

.signinorupinputdiv {
	position:relative;
}

.signinorupinputdiv input[type=text],
.signinorupinputdiv input[type=password] {
	width:100%;
}

.signinoruppassworddiv {
	display:flex;
	background:#acd;
	border-radus:4px;
}

.signinoruplist {
	margin-left:1em;
}

.signinorupslider {
	position:relative;
	height:15em;
	overflow:hidden;
	transition:all 0.75s;
}

.signinorupslider > div {
	width:100%;
	position:absolute;
	padding-bottom:2em;
}

.signinorupformbuttoncontainer {
	display:flex;
	align-items:center;
	justify-content:space-between;
	gap:12px;
	margin-top:2em;
}

.signinorupformbuttoncontainer > * {
	flex-grow:1;
}

.signinorupcenterbuttons {
	display:flex;
	justify-content:center;
}

#editpostsuggestions img {
	vertical-align:middle;
}

#editpostfileupload,
#messagerfileupload {
	display:none;
}

#editposthtmleditor {
	display:none;
	width:100%;
	outline:none;
	border:none;
	border-radius:4px;
	margin:2px 0;
	padding:4px 8px;
	box-shadow:#9cf 0px 0px 6px 4px inset;
}

#editpostcontrols {
	display:none;
	position:sticky;
	bottom:0;
	background:#fff;
	z-index:1;
}

.editpostcancel {
	display:none;
	position:absolute;
	top:0;
	right:2px;
	z-index:1;
	padding-left:10px;
}

.editposthidden {
	display:none;
}

span#messagerpermissions {
	position:relative;
}

.editpostpermissionsbutton {
	background:-moz-linear-gradient(bottom, #fff, #eee); /* Firefox 3.6 to 15 */
	background:-o-linear-gradient(bottom, #fff, #eee); /* Opera 11.1 to 12.0 */
	background:-webkit-linear-gradient(bottom, #fff, #eee)); /* Safari */
	background:linear-gradient(to bottom, #fff, #eee); /* Standard syntax (must be last) */
	background-color:#eee;
	border:solid 1px #ccc;
	border-radius:2px;
	padding:2px 4px 2px 2px;
	box-shadow:1px 1px 2px #ccc;
	box-sizing:border-box;
	cursor:default;
	margin-right:6px;
}

.editpostpermissionsbutton:hover {
	background-color:#ffc;
	border-color:#999;
	box-shadow:none;
}

.editpostpermissionsicon {
	vertical-align:-2px;
	margin-right:2px;
}

.permissionspopup {
	display:none;
	position:absolute;
	background:#f7f7f7;
	color:#111;
	z-index:3;
	left:0;
	min-width:380px;
	width:100%;
	border-radius:2px;
	border:solid 1px #ccc;
}

.permissionspopup {
	position:fixed;
	width:320px;
}

#messagerpermissionspopup {
	position:absolute;
	bottom:100%;
	width:130px;
	right:-1em;
}

.permissionspopup > div {
	min-height:24px;
	padding:4px 8px;
}

#editpostpermissionspresets > fieldset,
#messagerpermissionspresets > fieldset {
	border:solid 1px #cde;
	border-radius:4px;
	padding:2px 4px 8px 4px;
	margin-bottom:8px;
}

#editpostpermissionspresets > fieldset > legend,
#messagerpermissionspresets > fieldset > legend {
	font-size:12px;
	font-weight:bold;
	color:#687;
	margin-left:2px;
}

.permissionspopup input[type=text] {
	margin:4px;
}

.editpermissionsadvanced {
	display:none;
}

.editpermissionspresetlabel {
	margin:2px;
	padding:2px 6px;
	border:solid 1px rgba(128, 128, 128, 0.0);
	border-radius:4px;
	color:#151;
}

.editpermissionspresetlabel:hover {
	color:#090;
	background-color:#f0f9f6;
}

.editpermissionspresetunsigned {
	float:right;
}

.mirrorisland-headerflex {
	padding:0 40px;
}

.headingtreebackground {
	margin:0;
	background:#d3d9f0;
}

.headingtreespacer {
	max-width:72em;
	margin-left:auto;
	margin-right:auto;
	padding:0 48px;
}

.headingtree button {
	padding:8px;
	border:none;
	background:none;
	color:#135;
	font-weight:bold;
	margin-right:4px;
}

.headingtree button img {
	vertical-align:-2px;
}

.headingtree:focus-within button {
	background:#79c;
	color:#fff;
}

.headingtree h2 {
	margin:0 0 2px 0;
	padding:0 0 2px 0;
	border-bottom:solid 1px #cde;
	color:#009;
	font-size:16px;
	font-weight:bold;
}

.headingtree a:link {
	color:#35a;
}

.headingtree > div {
	display:none;
	position:absolute;
	z-index:1;
	background:#fff;
	border:solid 1px #79c;
	padding:8px;
	box-shadow:2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.headingtree:focus-within > div {
	display:block;
}

.headingtree > div > ul {
	margin:0;
	padding:0;
}

.headingtree ul ul {
	padding-left:16px;
}

.headingtree li {
	list-style-type:none;
	white-space:nowrap; /* Force single line. */
	-o-text-overflow:ellipsis; /* Opera */
	text-overflow:ellipsis;
	overflow:hidden;
	padding:2px 0;
}

.headingtree li::before {
	content:url('/img/treeitem.png');
	vertical-align:-2px;
}

.headingtree .treeitemactive::before {
	content:url('/img/treeitemactive.png');
}

.treeitempath {
	color:#357;
}

.newpostflex {
	display:flex;
	align-items:center;
	flex-flow:row wrap;
}

.newpostflex > * {
	margin:0 8px;
}

.newpostflex > :first-child {
	margin-left:0;
}

.newpostflex > :last-child {
	margin-right:0;
}

.viewform {
	display:inherit;
}

.viewform > * {
	margin:0 4px;
}

.viewform > :first-child {
	margin-left:0;
}

.viewform > :last-child {
	margin-right:0;
}

.viewasbutton {
	background:none;
	padding:4px;
	width:30px;
	height:28px;
	border:solid 1px #fff;
	cursor:pointer; /* Forces cross-browser compatibility. */
	cursor:hand;
	opacity:0.5;
}

.viewasbutton:hover {
	opacity:1;
}

.viewasactive {
	opacity:1;
	background:fff;
	border-color:#59a;
}

.sortbyselect {
	/* width:130px; */
	border:solid 1px #9ac;
	padding:4px;
}

#editpostallowanonymous,
#messagerallowanonymous {
	vertical-align:middle;
}

.editpostpermissionsbar img,
.editpermissionspresetlabel img {
	vertical-align:-2px;
}

.editpermissionspresetlabeldisabled:hover,
.editpermissionspresetlabeldisabled {
	color:#999;
	background:none;
}

.inputcheckbox {
	vertical-align:baseline;
}

/**
 * Line up all of the permissions icons and their labels in a CSS table.
 */
.editpopuppermissions {
	display:table;
	padding:3px;
}

.editpopuppermissionsrow {
	display:table-row;
}

.editpopuppermissionsrow:hover {
	background:#fff;
}

.editpopuppermissionscell {
	display:table-cell;
	vertical-align:bottom;
	padding:4px;
}

#editpostadvancedpermissionslabel {
	color:#090;
}

#editpostadvancedpermissionslabel img {
	vertical-align:-2px;
}

/**
 * Style the radio buttons in editor permissions.
 */
.editpostpermissionsbar {
}

.editpostpermissionsbar span {
}

.editpermissionspreset input[type=radio],
.editpostpermissionsbar input[type=radio] {
	display:none;
}

.editpostpermissionsbar label {
	margin:4px;
	padding:2px 4px;
	border:solid 1px rgba(128, 128, 128, 0.0);
	border-radius:2px;
}

.editpermissionspreset input:checked + .editpermissionspresetlabel,
.editpostpermissionsbar input:checked + label {
	background:#fff;
	border-color:#59a;
}

#editpostrecipients,
#messagerrecipients {
	width:100%;
	box-sizing:border-box;
}

.editpostcontrolsform {
	display:flex;
	min-height:1em;
	padding:2px;
	position:relative;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
}

.editpostpopups {
	white-space:nowrap;
}

.editpostbuttons {
	white-space:nowrap;
	flex-grow:1;
	text-align:right;
}

.editpostsuggestions {
	margin-left:4px;
	min-width:10em;
}

.editpostpermissionsbutton:hover > .permissionspopup,
span#messagerpermissions:hover > #messagerpermissionspopup {
	display:block;
	box-shadow:2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

/**
 * Custom controls
 */
.togglecheckbox {
	position:relative;
	width:32px;
	height:12px;
	background:#ddd;
	appearance:none;
	border-radius:12px;
	transition:all 0.25s;
	margin:0 4px;
}

.togglecheckbox:before {
	content:" ";
	background-color:#fff;
	position:absolute;
	left:0;
	top:-2px;
	width:16px;
	height:16px;
	transition:all 0.25s;
	border-radius:50%;
	box-shadow:0 0 3px 2px rgba(0, 128, 255, 0.5)
}

.togglecheckbox:checked {
	background:#9cf;
}

.togglecheckbox:checked:before {
	background-color:#16d;
	left:16px;
	box-shadow:0 0 3px 2px rgba(255, 255, 255, 0.5)
}

.mainpage > .postlist {
	border-top:dotted 1px #9eb0df;
	background:#fff url('/img/entrybackground.png') top repeat-x;
}

.mainflexboxflex {
	display:flex;
	flex-wrap:wrap;
	gap:12px;
	justify-content:space-between;
}

.mainflexboxflex > div {
	width:calc(100%/3 - 8px);
}

.mainflexboxpadded {
	margin-right:8px;
}

.mainflexboxlist {
	margin:0;
	box-shadow:1px 1px 4px 1px rgba(0, 0, 0, 0.1)
}

.debugpostclass > .debugpostreplies {
	margin-bottom:5px;
	/* margin:5px 0 3px 3px; */
	/* Moved to .debugpostclass: padding-top:3px; */
	/* Moved to .debugpostclass: padding-bottom:3px; */
}

.mainflexbox > div {
	display:block;
	width:calc(20% - 8px);
}

.debugpostthumbnail {
	height:100%;
}

.debugpostlist {
	display:block;
	background:#fff;
	border-top:solid 1px #cde;
	margin:0;
	padding:4px 4px 4px 8px;
}

.postreplies > .debugpostclass {
	background:linear-gradient(to bottom, rgba(224, 232, 248, 0.3) 0%, rgba(255, 255, 255, 0) 60px);
	border-top:solid 1px #cde;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:4px;
	margin-top:1px;
	margin-bottom:4px;
}

.postreplies > .postapprovalnormal {
	border-left:solid 6px #cde;
}

.postreplies > .postapprovalpending {
	border-left:solid 6px #ebd;
}

.postreplies > .postapprovaltrusted {
	border-left:solid 6px #6ca;
}

.postreplies > .postapprovalhidden {
	border-left:solid 6px #999;
}

.postreplies > .postflagged,
.inlinepostflagged {
	border-left:solid 6px #ecc;
}

.postreplies > .morerepliesdiv {
	border-left:dotted 6px #cde;
	padding-top:8px;
}

#main > .postapprovalpending,
#mainflexbox > .postapprovalpending {
	border-color:#fac;
}

#main > .postapprovaltrusted,
#page > .postapprovaltrusted {
	border-color:#090;
}

#main > .postapprovalhidden,
#page > .postapprovalhidden {
	border-color:#333;
}

#mainflexbox > .postflagged {
	border:solid 1px #faa;
}

.poststatusflagged {
	background:#fff3f3;
	color:#e66;
	text-align:center;
	font-weight:bold;
	margin:2px 0 0 0;
	padding:8px 0;
	border-top:solid 1px #faa;
	border-bottom:solid 1px #faa;
}

.poststatusflaggedunderline {
	border-bottom:dashed 1px #e66;
}

.poststatuspending {
	background:#f9f0ff;
	color:#e5e;
	text-align:center;
	font-weight:normal;
	margin:2px 0 0 0;
	padding:2px 0;
	border-top:solid 1px #f3d0f9;
	border-bottom:solid 1px #f3d0f9;
}

.postreplyblock {
	margin-top:4px;
	padding:0 10px 10px 16px;
}

.postreplybar {
	position:relative;
	padding-bottom:12px;
	padding-left:14px;
}

.postreplies {
	/* border-top:dotted 1px #cde; */
	position:relative;
	margin:0 0 2px 2px;
}

.debugpostreplies > .newreply {
	/*
	border:solid 0.5em aqua;
	border-width:0 0 0 0.5em;
	margin:0 0 0 0.5em;
	*/
	border-top:dotted 1px #cde;
	margin-left:5px;
	padding:0 0 5px 5px;
}

.newreplydescription {
	margin:5px 3px 0 0;
}

.titlepost {
	/* margin:8px 8px 0 8px; */
	/*
	box-shadow:none;
	background:none;
	border:none;
	border-radius:none;
	margin-left:auto;
	margin-right:auto;
	max-width:60em;
	padding:0 48px;
	*/
}

#main > .titleblock > div,
#main > #page > #newpost > div,
#main > #page > .postblock > div {
	margin:3px;
}

.postblocklistentry {
	display:flex;
	flex-direction:row;
	white-space:nowrap;
	align-items:baseline;
}

#newpostdescription,
.postdescription,
.newreplydescription {
	min-height:1em;
	position:relative;
	line-height:150%;
	overflow:auto;
}

.postdescription[contenteditable=true] {
	border-radius:4px;
	box-shadow:inset 0 0 2px 2px rgba(0, 127, 0, 0.5);
	outline:none;
	padding:8px 16px;
}

.postdescription[contenteditable=true]:empty:before {
	display:block; /* Needed for firefox. */
	background:none;
	color:#ccc;
	content:"Type something..."; /* 0030 == &gt; 00a0 == &nbsp; */
}

.postdescription[contenteditable=true]:focus {
	box-shadow:inset 0 0 2px 2px rgba(0, 127, 64, 0.8);
	outline:none;
}

.postdescriptionwordwrap {
	word-wrap:break-word;
	overflow:auto;
}

.postdescriptionpadding {
	padding:0 16px;
}

.postdescriptionlistentry {
	color:#345;
	overflow:hidden;
	text-overflow:ellipsis;
	flex-grow:1;
}

.postdescriptionlistentry a {
	text-decoration:none;
	color:#345;
}

.postdescription h1 {
	margin:1em 0;
	padding:0;
	font:normal 20px sans-serif;
	color:#079;
}

.postdescription h2 {
	margin:1em 0 0.5em 0;
	padding:4px 0;
	font-size:18px;
	font-weight:normal;
	/* letter-spacing:2px; */
	border-bottom:solid 1px #acd;
	color:#079;
}

.postdescription h3 {
	margin:4px 0;
	font-weight:bold;
	font-size:14px;
	color:#6a9;
}

.postdescription hr {
	border:none;
	border-bottom:solid 1px #cde;
	height:0;
}

.postdescription ul {
	padding:0 12px;
}

.postdescription ul li {
	margin:0 0 4px 0;
}

.postdescription code {
	color:#000;
	background:#eee;
	border:solid 1px #ccc;
	border-radius:4px;
	padding:0 4px;
	box-sizing:border-box;
	font-size:85%;
}

.postdescription pre {
	color:#000;
	background:#eee;
	border:solid 1px #ccc;
	border-radius:2px;
	padding:2px 4px;
	box-sizing:border-box;
	font-size:85%;
	overflow-x:auto;
	line-height:100%;
}

.postdescription pre > code {
	background:none;
	border:none;
	border-radius:none;
	padding:none;
}

.postdescription del {
	color:#808080;
}

.linkimagediv {
	position:relative;
}

.postdescriptionscrape {
	position:relative;
	background:#f0f1f9;
	color:#808080;
	margin:0 -10px 10px;
	padding:10px;
}
.postdescriptionscrape * {
	text-decoration:none;
}

.postdescriptionscrapenolink {
	background:#0ff;
	cursor:default;
}

.postdescriptionscrape h3 {
	margin:0 0 10px 0;
	padding:0;
}

.postdescriptionscrapeimg {
	width:100%;
	max-height:480px;
	object-fit:cover;
}

.postdescriptionscrapeurl {
	color:#3a3;
	margin:0 0 6px 0;
}

.postdescriptionscrapeurl img {
	max-width:16px;
	margin-right:6px;
	vertical-align:middle;
}

.postimg {
	border:none;
	box-sizing:border-box;
	display:block;
	text-decoration:none;
	margin:4px 0;
	height:auto;
	max-width:100%;
	/* border:solid 1px #dee; */
}

/* Commented out auto-thumbnails for posts.
.postimg + .postimg {
	display:inline;
	height:150px;
	margin:0 4px 0 0;
	width:150px;
	object-fit:cover;
}
*/

.postimg:hover {
	cursor:pointer; /* Forces cross-browser compatibility. */
	cursor:-webkit-zoom-in;
	cursor:-moz-zoom-in;
	cursor:zoom-in;
}

.squareimagediv {
	position:relative;
	width:100%;
	padding-top:100%;
}

.squareimagediv img {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	object-fit:cover;
	/* border:solid 1px #cde; */
	border-radius:2px;
}

.postfile {
	display:block;
	background:#f3f6f0;
	padding:2px 4px;
	margin:2px 0;
	color:#396;
}

.postfile a {
	text-decoration:none;
}

.postfiledownload {
	text-decoration:none;
	color:#080;
	margin-left:4px;
}

.postfiledelete {
	color:#933;
	margin-left:4px;
}

/* TODO: Change this in to a class, rather than ID/class path. */
#main > #page > #newpost > #newpostdescription:focus,
#main > #page > .postblock > .postdescription:focus,
#main > #page > .postblock > .postreplies > .postblock > .postdescription:focus,
#main > #page > .postblock > .postreplies > .newreply > .newreplydescription:focus,
.editable:focus {
	outline-color:red;
}

/* Profile needs to be here to cascade from default post display settings. */
.profile {
	min-height:300px;
	padding-bottom:10px;
}

.directorylistingdiv {
	background:#ded;
	font-size:10.5px;
	font-weight:bold;
}

.directorylistingdiv ul {
	padding:0;
	margin:0;
}

.directorylistingdiv li {
	margin:0 10px;
	padding:0;
	list-style-type:none;
}

.profile .profileimg {
	/* width:100%; Does this prevent reader.onload from obtaining full size? */
}

.profiletableblock {
	margin-left:260px;
	margin-right:10px;
}

.profiletable {
	width:100%;
	padding-bottom:10px;
	padding-left:10px;
	box-sizing:border-box;
}

.profiletablerow {
	display:table;
	width:100%;
}

.profiletablerowbordertop {
	border-top:solid 1px #dee;
	margin-top:8px;
	padding-top:8px;
}

.profiletablelabel, .profiletabledata {
	padding:2px;
	display:table-cell;
}

.profiletablelabel {
	color:#59a;
	font-size:12px;
	font-weight:bold;
	padding-left:4px;
	padding-top:10px;
	width:100px;
	vertical-align:top;
}

.profiletablelabel span {
	color:#abd;
}

.profiletabledata {
	padding-right:1em;
	white-space:nowrap;
}

.profiletabledataspan {
	display:table;
	width:100%;
}

.profiletabledata input,
.profiletabledata textarea {
	padding:4px;
	display:table-cell;
	width:100%;
	font:inherit;
	color:#345;
}

.profiletabledata *[readonly=true] {
	background:#fff;
	border:solid 1px #fff;
}

.profiletabledata textarea {
	resize:none;
}

.profiletabledataeditable {
	outline:none;
	/* padding:0; */
	min-height:1em;
	width:100%;
}

.profile table {
	margin:3px;
}

.profile table td, .profile table th {
	padding-bottom:0.5em;
	vertical-align:top;
}

.profile table th {
	text-align:left;
	color:#9ac;
	letter-spacing:2px;
	width:100px;
}

.profile table th.inline {
	width:auto;
	text-align:right;
	padding-left:2em;
	padding-right:5px;
}

.profile textarea.profileinput {
	border:none;
	margin:0;
	padding:0 3px;
	font:inherit;
	background:#fff;
	outline:solid 1px #9ac;
}

.profile table textarea,
.profile table input {
	width:100%;
}

.profile #profileimgdivblock {
	display:inline;
	width:100%;
	max-width:256px;
	height:auto;
	float:left;

	border:none;
	display:inline;
	width:100%;
	/* float:left; */
	margin-left:4px;
	margin-top:4px;
}

.profileimgdiv {
	border:none;
	background:#e0eaff;
	position:relative;
	width:256px;
	height:256px;
	overflow:hidden;

	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-solect:none;
	user-select:none;

	-webkit-user-drag:none;
	user-drag:none;
}

.profileimgdiv img {
	position:absolute;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-solect:none;
	user-select:none;

	-webkit-user-drag:none;
	user-drag:none;
}

.range-slider {
	display:block;
	width:254px;
	height:8px;
	position:relative;
	/* cursor:e-resize; */
	background:black;
	border:inset 1px silver;
}
/** /
.range-slider:before {
	position:absolute;
	content:'-';
	color:black;
	background:yellow;
}

.range-slider:after {
	position:relative;
	content:'o';
	color:black;
	background:yellow;
	margin-left:-10px;
}
/**/
.range-slider span {
	width:10px;
	display:block;
	height:16px;
	position:relative;
	z-index:2;
	cursor:inherit;
	top:-6px;
	background:#9cf;
	border:solid 1px #359;
	border-radius:3px;
}

#profileinformationform {
	margin:10px 10px 0 10px;
}

/* Contact list and inline members' popup. */
.memberlink {
	position:relative;
}

.memberlink img {
	margin-right:4px;
}

.memberlink a {
	text-decoration:none;
}

.memberlinkuserpanel {
	line-height:1em;
}

.groupmemberlink {
	border-radius:4px;
	background:#e0f5e0;
	color:#000;
	padding:0 1px;
	line-height:150%;
}

.groupmemberlink .memberlinktitle {
	color:#565;
	font-weight:normal;
}

.memberlinkblock {
	display:block;
}

.memberlinknowrap {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.memberlinktitle {
	background:none;
	color:inherit;
	border:none;
}

.memberlinkuserpanelbutton {
	background:none;
	color:inherit;
	border:none;
	text-align:left;
	width:100%;
	margin:0;
	padding:0;
}

.memberlinkdetails {
	display:none;
	position:fixed;
	left:0;
	top:100%;
	background:inherit;
	color:#345;
	z-index:1;
	padding:5px;
	width:270px;
	line-height:normal;
	background:#ff9 -moz-linear-gradient(bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.0)); /* Firefox 3.6 to 15 */
	background:#ff9 -o-linear-gradient(bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.0)); /* Opera 11.1 to 12.0 */
	background:#ff9 -webkit-linear-gradient(bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.0)); /* Safari */
	background:#ff9 linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.0)); /* Standard syntax (must be last) */
	border:solid 1px #abc;
	border-radius:4px;
	word-wrap:break-word;
	white-space:normal;
	box-shadow:3px 3px 7px 3px rgba(0, 0, 0, 0.25);
}

.memberlinkdetailsinline {
	position:absolute;
}

.memberlinkbuttons {
	line-height:36px;
}

.contactlist {
	margin-top:2px;
}

.contactlist .memberlinkdetails {
	left:auto;
	right:196px;
	top:-5px;
	/* padding:0.1em 0.2em; */
}

.contactlist > .memberlink > .memberlinkdetails:after {
	z-index:0;
	content:url('/img/formhintarrow-righttop.png');
	position:absolute;
	left:100%;
	top:5px;
}

.memberlinkdetails > img {
	height:64px;
	float:left;
	vertical-align:top;
	padding-right:5px;
}

.memberlink:hover,
.memberlink:focus-within {
	background:#ffc;
	color:black;
}

.memberlink:hover .memberlinkuserpanelbutton {
	outline:solid 1px #ff9;
}

.memberlink:focus-within .memberlinkdetailsinline {
	display:block;
}

.memberlinkemailaddress {
	clear:both;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:2px 0;
}

.messager {
	/* Need a cross-browser (prefixed) version. */
	box-shadow:3px 3px 9px 3px rgba(0, 0, 0, 0.25);
	display:none;
	position:fixed;
	border:solid 1px #dee;
	border-radius:5px;
	overflow:hidden;
	right:220px;
	bottom:0;
	width:400px;
	max-width:100%;
	height:300px;
	background:#eee;
	color:inherit;
	flex-direction:column;
	z-index:1;
	grid-template-columns:10px 30px 1fr 30px 10px;
	grid-template-rows:40px 1fr 30px 10px;
}

.messagerresizenw {
	grid-row:1;
	grid-column:1/3;
	cursor:default; /* Forces cross-browser compatibility. */
	cursor:move;
	background:#800;
}

.messagertitlebar {
	grid-row:1;
	grid-column:3;
	cursor:default; /* Forces cross-browser compatibility. */
	cursor:move;
	background:#800;
	overflow:auto;
}

.messagercontrols {
	grid-row:1;
	grid-column:4/6;
	background:#800;
	display:flex;
	align-items:center;
	justify-content:center;
}

.messagerresizew {
	grid-row:2;
	grid-column:1;
	cursor:w-resize;
	/* background:#ff0; */
}

.messagermain {
	grid-row:2/4;
	grid-column:2/5;
	display:flex;
	flex-direction:column;
	background:inherit;
}

.messagerresizee {
	grid-row:2;
	grid-column:5;
	cursor:e-resize;
	/* background:#00f; */
}

.messagerresizesw {
	grid-row:3/5;
	grid-column:1/3;
	cursor:sw-resize;
	background:url('/img/sizer-sw.png') bottom left no-repeat;
}

.messagerresizes {
	grid-row:4;
	grid-column:3;
	cursor:s-resize;
	/* background:#0ff; */
}

.messagerresizese {
	grid-row:3/5;
	grid-column:4/6;
	cursor:se-resize;
	background:url('/img/sizer-se.png') bottom right no-repeat;
}

.messagertitlebar h2 {
	font-size:14px;
	font-weight:normal;
	margin:0 20px 0 0;
	padding:0 2px;
}

.messagertitle {
	color:white;
	white-space:nowrap;
	-o-text-overflow:ellipsis; /* Opera */
	text-overflow:ellipsis;
	overflow:hidden;
	background:#800;
	text-align:center;
}

.messagercontrols {
	/* position:absolute; */
	/* top:0; */
	/* right:2px; */
	margin:0;
	padding:0;
	color:white;
	font-weight:bold;
	font-size:16px;
}

.messagerclose {
	font-size:26px;
	line-height:19px;
}

.messagerbody {
	flex-grow:1;
	/* margin-bottom:256px; */
	/* padding:4px; */
	display:flex;
	flex-direction:column;
	align-items:stretch;
	justify-content:end;
	overflow:hidden;
}

.messagerbodyscroller {
	overflow-y:scroll;
}

.messageentry {
	padding:4px 4px 4px 8px;
	margin:8px 4em 8px 8px;
	border-radius:10px;
	background:#fff;
	float:left;
	clear:both;
	box-shadow:0 1px 16px rgba(0, 0, 0, 0.125);
}

.messageentrysent {
	float:right;
	margin:8px 8px 8px 3em;
	background:#369;
	color:#fff;
}

.messageentrysent .messageattachment a {
	color:#6f8;
}

.messagecredits {
	display:flex;
	color:#69a;
	/* font-weight:bold; */
	white-space:nowrap;
	position:relative;
}

.messageentrysent .messagecredits {
	color:#fff;
}

.messagecredits > :first-child {
	flex-grow:1;
	margin-right:12px;
}

.messagecredits .popuplist {
	margin:0 0 0 4px;
	border-radius:50%;
}

.messagecredits .popuplistbutton {
	border-radius:50%;
}

.messagedescription {
	margin:4px 4px 4px 0;
}

.messagedescription h1,
.messagedescription h2 {
	font-size:100%;
	font-weight:bold;
	color:#69a;
}

.messagedescription > :first-child {
	display:inline;
	margin-top:0;
}

.messagedescription img {
	max-width:100%;
	height:auto;
}

.messagedescription[contenteditable=true] {
	color:#000;
	background:#f0f0f0;
	/* border-radius:4px; */
	outline:none;
}

.messageattachment a {
	color:#396;
	text-decoration:none;
}

.messagerform {
}

.messagerentry {
	display:flex;
	flex-direction:row;
	align-items:flex-end;
	padding:8px 0 0 0;
}

.messagerformsettings {
	position:relative;
}

.messagerformsettings > div {
	display:none;
	position:absolute;
	bottom:100%;
	width:auto;
	left:0;
	padding:2px 4px;
	line-height:1.75em;
	background:#eee;
	box-shadow:0 1px 12px 5px rgba(0, 0, 0, 0.25);
	border:solid 1px #ccc;
	border-radius:4px;
}

.messagerformsettings > div input {
	vertical-align:middle;
}

.messagerformsettings:hover > div {
	display:block;
}

.messagerattach {
	padding:0 8px;
}

#messagersuggestions {
	flex-grow:1;
}

.messagersubmit {
	margin:4px 2px 0 0;
	padding:0;
	border:none;
	background:none;
}

.messagersubmit:disabled,
.messagerattach:disabled {
	opacity:0.5;
}

.messagerbuttons {
	white-space:nowrap;
	padding:0 4px 4px 0;
}

.messageroverlay {
	padding:0 8px;
}

.messageroverlay button {
	width:100%;
}

.messagerinput {
	display:flex;
	flex-direction:row;
	align-items:flex-end;
	gap:8px;
	padding:4px;
	margin:0;
	border:solid 2px #369;
	border-radius:8px;
	background:#fff;
	flex-grow:1;
}

.messagerinputmain {
	flex-grow:1;
}

.messagerinputentry {
	min-height:1em;
	max-height:10em;
	overflow:auto;
	/* border-top:solid 2px gray; */
	/* padding:8px; */
	box-sizing:border-box;
	outline:none;
	background:#fff;
	word-wrap:break-word;
	margin:0 0 4px 2px;
}

.messagerinputentry img {
	max-height:7em;
	max-width:100%;
	object-fit:contain;
}

.messagerinputentry[contenteditable=true] {
	/* box-shadow:inset 0 0 2px 2px rgba(0, 127, 0, 0.5); */
	cursor:text;
}

.messagerinputentry[contenteditable=true]:focus {
	/* box-shadow:inset 0 0 2px 2px rgba(0, 127, 64, 0.8); */
}

.messagerinputentrydisabled {
	/* background:#eee; */
	color:#666;
}

/**
 * Placeholders, CSS style! (literally)
 */
.messagerinputentry[contenteditable=true]:empty:before {
	display:block; /* Needed for firefox. */
	background:none;
	color:#808080;
	content:attr(placeholder);
}

#messagerhidden {
	display:none;
}

.profilesearchtable {
	width:100%;
	/* background:#ddd url('/img/greyback.png'); */
	padding:4px 4px 8px 4px;
	margin-top:10px;
	margin-bottom:8px;
}

.profilesearchtable th {
	font-weight:normal;
	color:#999;
	text-align:right;
	white-space:nowrap;
}

.profilesearchtable td {
	padding:4px 4px 0;
}

.profilesearchtable input {
	width:100%;
	box-sizing:border-box;
	padding:4px;
}

#advancedprofilesearchresultstoolbar {
	padding:0 4px;
	margin-top:4px;
}

.yeargraphtitle {
	text-align:center;
}
.yeargraphmain {
	overflow-x:auto;
	scroll-behavior:smooth;
}

.analyticsflex {
	display:flex;
	flex-wrap:wrap;
}
.analyticsflexchild {
	flex-basis:0;
	flex-grow:1;
}
.analyticsflexchild > div {
	white-space:nowrap;
}

/* General styles */
.greytable {
	width:100%;
	border-spacing:0 2px;
	padding:2px;
}

.greytable th,
.greytable td {
	padding:1px 4px;
	vertical-align:top;
}

.greytable th {
	background:#ddd url('/img/greyback.png');
	text-align:left;
	font-weight:bold;
}

.greytable td {
	background:#eee;
}

.greytable td a.greytablelink,
.greytable td a.profilefullname {
	color:#00c;
	text-decoration:none;
}

.greytable td a.profilefullname {
	font-weight:bold;
}

#profileimgeditcontrols {
	display:none;
}

.spacinginset {
	background:#fff;
	border:solid 1px #fff;
	border-radius:4px;
	padding:4px;
	outline:none;
	white-space:normal;
}

.shadowinset {
	background:#fff;
	border:solid 1px #ccc;
	border-radius:4px;
	box-shadow:inset 1px 1px 4px 1px rgba(0, 0, 0, 0.1);
	color:#345;
	padding:4px 8px;
	outline:none;
}

.shadowinset:focus {
	color:#030;
	border-color:#0a0;
}

.tooltiphost {
	position:relative;
}

.tooltiphostdotted {
	border-bottom:dotted 2px #808080;
}

.centered {
	text-align:center;
}

.greytext {
	color:#89a;
}

.silvertext {
	color:#ccc;
}

.greentext {
	color:#396;
}

.fadetext {
	color:#9ac;
}

a.fadetext,
.fadetext > a {
	color:#9ac;
	text-decoration:none;
}

.fadetext a img {
	filter:saturate(25%) opacity(25%);
}

a.fadetext:hover,
.fadetext > a:hover {
	color:#396;
}

.fadetext a:hover img {
	filter:none;
}

a.ctalink {
	text-decoration:none;
	border-bottom:dotted 1px #ace;
}

.greenlink {
	color:#080;
	white-space:nowrap;
}

.bottomdash {
	border-bottom:dashed 1px #9ac;
}

.maxwidth40em {
	max-width:40em;
	margin:0 auto;
}

.tooltiptext {
	position:absolute;
	display:none;
	background-color:#ffc;
	color:#000;
	top:150%;
	padding:2px 5px;
	border:solid 1px #993;
	border-radius:3px;
	font:normal 14px "Arial","Helvetica",sans-serif;
	line-height:18px;
	z-index:4;
	white-space:nowrap;
	box-shadow:2px 2px 8px 2px rgba(0, 0, 0, 0.25);
}

.tooltiptext img {
	vertical-align:middle;
}

.tooltiptextleft {
	left:-8px;
}

.tooltiptextleftedge {
	left:2px;
}

.tooltiptextright {
	right:0%;
}

.tooltiptexttop {
	top:auto;
	bottom:115%;
}

.tooltiphost:hover .tooltiptext {
	display:block;
}

.tooltipkey {
	color:#369;
	font-size:14px;
	border:solid 1px #cde;
	border-radius:4px;
	background:#fff;
	padding:0 6px;
	margin-left:2px;
}

.imagebutton {
	vertical-align:middle;
}

.boldlink {
	font-weight:500;
	color:#f66;
	text-decoration:none;
	/* padding:1px 4px; */
	/* border-bottom:dashed 1px #f66; */
	/* margin:0 3px; */
	white-space:nowrap;
	cursor:pointer; /* Forces cross-browser compatibility. */
	cursor:hand;
}

.boldlink:hover {
	color:#f00;
	/* border-bottom:solid 1px #f00; */
}

.silverbutton {
	background:-moz-linear-gradient(bottom, #fff, #cde); /* Firefox 3.6 to 15 */
	background:-o-linear-gradient(bottom, #fff, #cde); /* Opera 11.1 to 12.0 */
	background:-webkit-linear-gradient(bottom, #fff, #cde)); /* Safari */
	background:linear-gradient(to bottom, #fff, #cde); /* Standard syntax (must be last) */
	background-color:#cde;
	border:solid 1px #acd;
	border-radius:2px;
	color:#013;
	font:inherit;
	padding:4px 10px;
	margin-bottom:0;
	cursor:pointer; /* Forces cross-browser compatibility. */
	cursor:hand;
	box-sizing:border-box;
	text-decoration:none;
	white-space:nowrap;
}

.silverbuttonflex {
	display:inline-flex; /* Vertically align items with flex/justify-content */
	justify-content:center;
	align-items:center;
}

.silverbuttonflex img {
	height:1em;
	margin:0 2px;
}

.silverbuttonkey {
	color:#369;
	font-size:14px;
	/* border:solid 1px #cde; */
	/* border-radius:4px; */
	/* background:#fff; */
	/* padding:0 6px; */
	margin-left:4px;
}

.silverbutton-attach {
	background:-moz-linear-gradient(bottom, #fff, #cde); /* Firefox 3.6 to 15 */
	background:-o-linear-gradient(bottom, #fff, #cde); /* Opera 11.1 to 12.0 */
	background:-webkit-linear-gradient(bottom, #fff, #cde)); /* Safari */
	background:url('/img/editorstatusbar-attach.png') right no-repeat, linear-gradient(to bottom, #fff, #cde); /* Standard syntax (must be last) */
	/* background:url('/img/editorstatusbar-attach.png') right no-repeat, inherit; */
	padding-right:18px;
}

.silverbutton:hover {
	border:solid 1px #00f;
}

.silverbuttondisabled {
	background-color:#e0e7ef;
	border:solid 1px #c0c7cf;
	border-radius:4px;
	color:#777;
	font:inherit;
	padding:0 8px;
	margin-bottom:0;
	cursor:pointer; /* Forces cross-browser compatibility. */
	cursor:not-allowed;
	box-sizing:border-box;
	text-decoration:none;
	white-space:nowrap;
}

.silverpopdownbutton {
	display:inline-block;
	position:relative;
	background:-moz-linear-gradient(bottom, #fff, #eee); /* Firefox 3.6 to 15 */
	background:-o-linear-gradient(bottom, #fff, #eee); /* Opera 11.1 to 12.0 */
	background:-webkit-linear-gradient(bottom, #fff, #eee)); /* Safari */
	background:linear-gradient(to bottom, #fff, #eee); /* Standard syntax (must be last) */
	background-color:#eee;
	border:solid 1px #ccc;
	border-radius:2px;
	padding:0 4px;
	box-shadow:1px 1px 2px #ccc;
	box-sizing:border-box;
	cursor:default;
}

.silverpopdownbuttonlabel {
	display:flex;
	align-items:center;
}

.silverpopdownbuttonlabeltext {
	flex:1 0 auto;
}

.silverpopdownbuttonhost {
	position:relative;
}

.silverpopdownbuttonlist {
	display:none;
	position:absolute;
	flex-direction:column;
	width:100%;
	z-index:1;
	background:#fff;
	border:solid 1px #ccc;
	box-shadow:1px 1px 2px #ccc;
}

.silverpopdownbuttonlist button {
	border:none;
	background:inherit;
	cursor:default; /* Reset forces next style */
	cursor:pointer;
}

.silverpopdownbuttonhost:focus-within {
	background:red;
}

.silverpopdownbuttonhost:focus-within .silverpopdownbuttonlist {
	display:flex;
}

.greenbutton {
	background:#7a3 -moz-linear-gradient(bottom, #ad7, #7a3); /* Firefox 3.6 to 15 */
	background:#7a3 -o-linear-gradient(bottom, #ad7, #7a3); /* Opera 11.1 to 12.0 */
	background:#7a3 -webkit-linear-gradient(bottom, #ad7, #7a3); /* Safari */
	background:#7a3 linear-gradient(to bottom, #ad7, #7a3); /* Standard syntax (must be last) */
	border:solid 1px #7a3;
	border-radius:4px;
	box-sizing:border-box;
	color:#fff;
	cursor:default;
	cursor:pointer;
	padding:4px 8px;
	font-size:16px;
	font-weight:bold;
	white-space:nowrap;
	text-decoration:none;
	text-shadow:0 1px 3px #050;
	transition:all 1s;
}

.greenbutton:hover {
	background:#7c0 linear-gradient(to bottom, #cf8, #7c0);
	border:solid 1px #7c0;
}

.greenbuttonlarge {
	font-size:24px;
	font-weight:normal;
	padding:4px 12px;
}

.greenbutton:disabled {
	background:#999 linear-gradient(to bottom, #ddd, #999);
	cursor:pointer;
}

.postfunctionlink {
	color:#a66;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}

.postfunctionlink:hover {
	color:#f00;
}

.landingpagepost {
	box-sizing:border-box;
	background:#e7eef8 url('/img/landingpage.jpg') 50% 50% no-repeat;
	background-size:cover;
	margin:0;
	border:none;
	padding:32px;
}

.landingpagewordartlarge {
	color:#090;
	text-align:left;
	text-decoration:none;
	font-weight:normal;
	font-size:60px;
	line-height:60px;
	margin-bottom:20px;
}

.landingpagewordart {
	color:#080;
	text-align:left;
	text-decoration:none;
	font-weight:normal;
	font-size:30px;
	margin:20px 0;
	letter-spacing:1px;
}

.landingpagep {
	color:#060;
	font-size:20px;
	/* font-weight:lighter; */
	margin:40px 0;
	line-height:150%;
	text-shadow:0 0 5px #fff;
	max-width:680px;
}

.landingpagebuttondiv {
	line-height:4em;
}

.landingpagebutton {
	background:#080;
	color:#fff;
	font-weight:bold;
	border-radius:2em;
	padding:10px 20px;
	text-decoration:none;
	margin-right:1em;
	white-space:nowrap;
}

.landingpagefullwidth {
	box-sizing:border-box;
	background:#438c21;
	clear:both;
	display:flex;
	flex-wrap:wrap;
	padding:40px 0 20px 0;
}

.landingpagediv {
	color:#fff;
	flex:0 0 50%;
	max-width:50%;
	padding:0 20px 0 100px;
	text-align:left;
	box-sizing:border-box;
	position:relative;
	min-height:100px;
	margin:20px 0;
}

.landingpagediv img {
	position:absolute;
	top:10px;
	left:20px;
	width:64px;
}

.landingpagediv h3 {
	margin:0 0 8px 0;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	letter-spacing:1px;
	text-decoration:none;
}

.urldivbutton {
	background:rgba(0,0,0,0.4);
	padding:4px;
	margin:4px;
	cursor:pointer;
	cursor:hand;
}

.buttongroup::before,
.buttongroup::after {
	box-sizing:border-box;
}

.buttongroup {
	position:relative;
	margin:12px auto;
	text-align:center;
}

.buttongroup a,
.buttongroup strong {
	text-decoration:none;
	padding:0 6px;
	border-radius:0;
}

.buttongroup strong {
	font-weight:normal;
	border:solid 1px #aaa;
	box-shadow:inset 2px 2px 4px rgba(0, 0, 0, 0.1);
	background:#eee;
}

.buttongroup *:first-child {
	border-top-left-radius:4px;
	border-bottom-left-radius:4px;
}

.buttongroup *:last-child {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
}

/* Recipients tokenising editor */
.inlinelist {
	display:inline;
	list-style-type:none;
	padding:0;
	margin:0;
	cursor:text;
}

.inlinelist > li {
	display:inline-block;
	border-radius:4px;
	cursor:default;
	margin:2px 2px 0 2px;
	color:#797;
}

.recipientsLI {
	background:#f0f0f0;
	padding:0 2px;
}

li.recipientsLI > span {
	white-space:nowrap;
}

.recipientsEntryLI {
	display:inline;
}

.recipientsLI button {
	background:none;
	border:none;
	color:#c63;
	cursor:default;
	cursor:pointer;
	font-size:16px;
	margin:0;
	padding:0 2px 0 0;
	vertical-align:middle;
}

.recipientsEntry {
	border:none;
	outline:none;
	background:none;
	padding:0 2px;
}

.modalbackground {
	display:none;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(0, 0, 0, 0.5);
	align-items:center;
	justify-content:center;
	z-index:1;
	overflow:auto;
}

.modalpromptdialog {
	position:relative;
	background:#fff;
	border:solid 1px #dee;
	border-radius:4px;
	color:#363;
	padding:16px;
	box-shadow:4px 4px 30px 8px rgba(0, 0, 0, 0.5);
	max-width:60%;
}

.modalpromptdialog input,
.modalpromptdialog button {
	font:inherit;
}

.modalpromptradio {
	display:none;
}

.modalpromptinputspan::after {
	content:'';
	display:inline-block;
	width:1em;
	height:1em;
	border-radius:100%;
	border:solid 2px #3a6;
	margin-right:0.5em;
	vertical-align:text-bottom;
	background:#fff;
}

.modalpromptradio:checked + .modalpromptinputspan::after {
	background:#3a6 url('radiocheck.png') 50% 50% no-repeat;
}

.modalpromptcontent {
	display:grid;
	grid-auto-rows:1fr;
	margin-top:1em;
}

.modalpromptlabel {
	display:flex;
	padding:8px;
	background:#eee;
	margin:0 0 1em 0;
	cursor:default;
	cursor:pointer;
}

.modaldiv {
	display:none;
	border:dashed 1px red;
	position:relative;
	margin:1em;
	background:#fff;
}

.modalclosediv {
	position:absolute;
	top:2px;
	right:2px;
}

.modalpromptbuttons {
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.modalprompthints {
	flex:1 0 auto;
	margin:0 16px;
	text-align:center;
}

.modalpromptcancelbutton {
	background:#eee;
	color:#555;
}

.modalpromptsubmitbutton {
	background:#018;
	color:#fff;
}

.shortSummary {
	display:inline;
	clear:both;
}

/* Hide the triangle from <summary> tags in <details> */
.noMarkerDetails summary {
	list-style:none;
}
.noMarkerDetails summary::marker {
	display:none;
}

.plantable {
	width:100%;
}
.plantable caption {
	font-size:22px;
	color:#6a9;
}
.plantable th,
.plantable td {
	text-align:left;
	vertical-align:top;
	padding:0.5em 1em;
}

.formtable th,
.formtable td {
	text-align:left;
	vertical-align:middle;
	padding:0.5em 1em;
}

/* By specifying a details/summary block with a child div,
 * the child div can be animated on open. */
@keyframes animatedDetailsDiv {
	0% { opacity:0; transform:translateY(-1em); }
	100% { opacity:1; transform:translateY(0); }
}
.animatedSummaryDetails[open] div {
	animation-name:animatedDetailsDiv;
	animation-duration:0.5s;
}

/* Responsive design */

@media only screen and (max-width:1600px) {
	.mainflexbox > div {
		width:calc(25% - 8px);
	}
}

@media only screen and (max-width:1400px) {
	.mainflexbox > div {
		width:calc(100%/3 - 8px);
	}
}

@media only screen and (max-width:1100px) {
	.mainflexbox > div {
		width:calc(50% - 8px);
	}
}

@media only screen and (max-width:850px) {
	.mainflexbox > div {
		width:calc(100% - 8px);
	}
}

@media only screen and (max-width:800px) {
	.mainflexbox > div {
		width:calc(50% - 8px);
	}
	.searchpopup {
		left:78px;
		right:0;
		width:auto;
	}
	.profiletableblock {
		clear:both;
		margin-left:0;
	}

	.landingpagediv {
		flex:0 0 100%;
		max-width:100%;
		width:100%;
		float:none;
	}
	.rightpanel {
		/* top:0; */
	}
	.landingpagepost {
		margin:8px 0;
	}
	#landingpage {
		margin:8px;
		float:none;
	}
	.mainpage {
		margin-right:0;
		padding:0 8px;
	}

	.contactlist > .memberlink > .memberlinkdetails {
		left:-4px;
		right:auto;
		top:16px;
	}
	.contactlist > .memberlink > .memberlinkdetails:after {
		content:url('/img/formhintarrow-topright.png');
		position:absolute;
		top:-15px;
		left:0;
	}

	/* Post menu popup submenu */
	li.submenuli > ul {
		top:85%;
		left:auto;
		right:4px;
	}
	li.submenuli:after {
		content:url('/img/popupmenudown.png');
	}
	#sidepanelreloadbutton img {
		vertical-align:-35%;
	}
	.modalpromptdialog {
		max-width:80%;
	}
}

@media only screen and (max-width:650px) {
	.mainflexbox > div {
		width:calc(100% - 8px);
	}
}

@media only screen and (max-width:550px) {
	.mirrorisland-headerflex,
	.headingtreebackground {
		padding:0;
	}
	.titlepost,
	.postbordershadow,
	.debugreplyborderclass {
		margin-left:0;
		margin-right:0;
	}
	.mainflexbox > div {
		width:calc(50% - 8px);
	}
	.landingpagewordartlarge {
		font-size:46px;
	}
	.landingpagewordart {
		font-size:20px;
		font-weight:bold;
	}
	.profiletablelabel, .profiletabledata {
		display:block;
	}
	#landingpage, .titlepost {
		margin:8px;
		float:none;
	}
	.sidepanel, .debugpostborderclass {
		/*
		float:none;
		width:auto;
		border-radius:0;
		border-left:0;
		border-right:0;
		margin:8px 0;
		*/
	}
	.mainpage {
		margin:0;
		padding:0;
	}

	.searchpopup {
		left:0;
		right:0;
		width:auto;
		border-left:0;
		border-right:0;
	}
	.messager {
		left:0;
		border-left:0;
		border-right:0;
		margin:0;
		width:100%;
	}
	.editpermissionspresetunsigned {
		float:none;
		display:block;
		padding-left:10px;
	}

	.modalpromptdialog {
		max-width:95%;
	}
}

